.img-center {
    margin: 0px auto;
}

#banner {
    box-shadow: 20px 20px 50px 20px #888888;
    border-radius: 4px;
}

.bio {
    border-bottom: 2px solid #5FD9FF;
    padding-left: 0;
    padding-right: 0;
}

.padme {
    padding-top: 100px;
}

.wrapper {
    display: inline-block;
    position: relative;
}

.share {
    margin-top: 50px;
    padding-bottom: 50px;
}

.super {
    margin-left: 200px;
    margin-right: 200px;
}

hr {
    background: #5FD9FF; border:0; height:2px;
}

.social {
    margin: 20px;
}

i {
    font-size: 270%;
}

#fb {
    padding-left: 40px;
    padding-right: 40px;
}

#start {
    background-color: #5FD9FF;
    min-height: 100%;
    width: 100%;
    display: table;
}

#cell {
    display: table-cell; 
    vertical-align:middle;
}

#middle {
    /*padding-top: 200px;*/
}

#main {
    display: none;
}

html, body {
    height:100%;
    margin: 0;
}

table {
    min-height: 100%;
    width: 100%;
}

td {
    text-align: center;
    vertical-align: middle;
}

.twitterleft {
    text-align: right;
    vertical-align: middle;
}
.twitterright {
    text-align: left;
    vertical-align: middle;
}

.cent {
    text-align: center;
}

#arrow {
    padding-top: 20px;
    
}

#arrow:hover {
    cursor: pointer;
}

#orsyp {
    padding: 100px;
}

#team {
    position: absolute;
}


#location {
    position: absolute;
    right: 0;
}

#ux {
    position:absolute;
    left: 0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.abs {
    position: absolute;
}

.big {
    font-size: 500%;
    text-shadow: 2px 2px 2px grey;
}


#mainwrapper {
    font: 10pt normal Arial, sans-serif;
    height: auto;
    margin: 80px auto 0 auto;
    text-align: center;
    width: 680px;
}

/* Image Box Style */
#mainwrapper .box {
    border: 5px solid #fff;
    cursor: pointer;
    height: 202px;
    float: left;
    margin: 5px;
    position: relative;
    overflow: hidden;
    width: 220px;
        -webkit-box-shadow: 1px 1px 1px 1px #ccc;
        -moz-box-shadow: 1px 1px 1px 1px #ccc;
        box-shadow: 1px 1px 1px 1px #ccc;
}
#mainwrapper .box img {
    position: absolute;
    left: 0;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}

caption {
    /*coordinated marking to match cell's padding*/
    margin-bottom:.5em;
    /*centered so it doesn't blend in to other content*/
    text-align:center;
}
/* Caption Common Style */
#mainwrapper .box .caption {
    background-color: #5FD9FF;
    opacity:0.5;
    position: absolute;
    color: #fff;
    z-index: 100;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out; 
        transition: all 300ms ease-out;
    left: 0;
}


/** Caption 1: Simple **/
#mainwrapper .box .simple-caption {
    height: 30px;
    width: 220px;
    display: block;
    bottom: -30px;
    line-height: 25pt;
    text-align: center;
}

/** Simple Caption :hover Behaviour **/
#mainwrapper .box:hover .simple-caption {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    opacity: 1;
    transform: translateY(-100%);
}

/*TILT*/
.tiltleft {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tiltleft:active {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
.tiltright {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tiltright:active {
  -webkit-transform: rotate(10deg);
     -moz-transform: rotate(10deg);
       -o-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
}


